{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%block titulo %}Coolcad{%endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Coolcad</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "materiais:index" %}">Materiais</a></li>
            <li><a href="#configuracoes">Configurações</a></li>
            <li><a href="#relatorios">Relatórios</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    {%block main_content %}
    {%block content %}
      <div>
        <h1>Coolcad - Página principal</h1>
        <p class="lead">Sobrescreva este bloco.</p>
      </div>
    {% endblock content %}
    {% endblock main_content %}
    </div><!-- /.container -->

    {% block "js" %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    {%endblock%}
  </body>
</html>