{% extends "materiais/materiais_base.html" %}

{%block content %}
<div class="row">
    <h3>Cadastrar material</h3>
    {% if material %}
    <div class="alert alert-success">
        Material {{material}} criado com sucesso.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <form action="{% url "materiais:adicionar_plain"%}" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="codigo" placeholder="Código" /><br />
        <input type="text" class="form-control" name="descricao" placeholder="Descrição" /><br />
        <input type="text" class="form-control" name="unidade" placeholder="Unidade" /><br />
        <select class="form-control" name="grupo">
        {% for grupo in grupos %}
            <option value="{{grupo.id}}">{{grupo}}</option>
        {% endfor %}
        </select><br />
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>
{%endblock%}